body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav ul {
	list-style: none;
	background-color: #444;
	text-align: left;
	padding: 0px;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;


}

.nav li {
	font-size: :1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;


}

.nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;

  }

   .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  #logo {
  	position: absolute;
  	top: 50%;
  	width: 250px;
  	height: 150px;
  	margin-top: -250px; /* Half the height */
    margin-left: 450px; 
  	
  }

  #box {
  		display: block;
  		width: 600px;
  		height: 40px;
  		position: relative;
  		top: 650px;
  		left: 650px;

  }

 .button_1 {
  	display: inline-block;
  	height: 50px;
  	width: 180px;
  	background: #F0F5F5;
  	border: 2px solid white;
  	color: balck;
  	text-align: center;
  	font-size: 20px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: relative;
    top: 760px;
    left: 730px;
     
}
 


  a.button_1 {
  	text-decoration: none;
  }

 .button_2 {
  	display: inline-block;
  	height: 50px;
  	width: 180px;
  	background: #F0F5F5;
  	border: 2px solid white;
  	color: balck;
  	text-align: center;
  	font-size: 20px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    position: relative;
    top: 760px;
    left: 780px;


  }
a.button_2 {
  	text-decoration: none;
  }

  #footer_left {
  list-style: none;
  

  }

  #footer_right {
  list-style: none;

  }

  #footer_left a {
  	text-decoration: none;

  }

    #footer_right a {
  	text-decoration: none;

  }

  /*#footer_left li {
  	display: inline-block;
  	bottom: 0;
  }*/

  /*#footer_right li {
  	display: inline-block;
  	bottom: 0;
  }*/
.footer { 
	width: 100%; 
	overflow: hidden; 
	bottom: 0;
	left: 0;
	position:absolute;
    height:60px;   /* Height of the footer */
    background:grey;

}
#footer_left { 
	position: relative; 
	float: left; 
	display: inline;

	 }
#footer_left li { 
	position: relative; 
	float: left; 
	display:inline;
	padding: 5px;
	font-size: 20px;
	 }

#footer_right  { 
	position: relative; 
	float: right; 
	display: inline; 
	 
}
#footer_right li { 
	position: relative; 
	float: right; 
	display:inline; 
	padding: 5px;
	font-size: 20px;
	
}